@tailwind base;
@tailwind components;
@tailwind utilities;
.edge-fade::before,
.edge-fade::after {
  content: "";
  position: absolute;
  top: 50px;
  bottom: 0;
  width: 60px; /* Adjust the width of the fading edges */
  height: 77%;
  pointer-events: none;
  z-index: 10;
}

.edge-fade::before {
  left: 0;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.1), transparent);
}

.edge-fade::after {
  right: 0;
  background: linear-gradient(to left, rgba(0, 0, 0, 0.1), transparent);
}
